/* Default Responsive Layouts */
@import "default/_reset";
@import "default/_fonts";
@import "default/_base";
@import "default/_mixins";


/*Global App */
@import "app/global";
@import "app/general";
@import "app/section";
@import "app/header";
@import "app/footer";
@import "app/slider";
@import "app/date";
@import "app/gallery";
@import "app/hovers";
@import "default/_structure";




@media screen and (min-width: 940px) and (max-width: 1024px){
	@import "queries/1024";
}
@media screen and (min-width: 768px) and (max-width: 939px) {
	@import "queries/ipad-portrait";
}
@media screen and (max-width: 767px){
	@import "queries/mobile";
}
