header {
	nav ul {
	    padding-bottom: 20px;
	    text-align: left;
	    padding-left: 125px;
	    padding-top: 5px;
	    li {
	    	a {
			font-size:16px;
			margin:0px 10px;
			}
			&.logo {
				position:absolute;
	   			left: 0px;
	   			margin-top:-75px;
			}
		}
	}
	#weather {
		margin-left: 125px;
	}
}


section .container{
	padding:25px 25px;
}