header {
	nav ul {
	    padding-bottom: 20px;
	    text-align: left;
	    padding-left: 110px;
	    padding-top: 5px;
	    li {
	    	a {
			font-size:16px;
			margin:0px 5px;
			}
			&.logo {
				position:absolute;
	   			left: 0px;
	   			margin-top:-75px;
			}
		}
	}
	#weather {
		margin-left: 110px;
	}
}

section .container{
	padding:25px 25px;
}
.owl-nav {
	display:none;
}

#slider .check-in, #header .check-in {
    right: 2.5%;
    width: 95%;
}


.book-list {
	li.grid.column-2 {
		> img {
			width:40%;
			+ div {
				width:60%;
			}
		}
		width:100%;
	}
}

#contact-form fieldset {
	width:95%;
}

.galery-list.grid.column-4 > * {
	width: calc(50% - 10px);
}


#main-map {
	img {
		max-width:100%;
	}
}

.room-list {
	img {
		max-width:100%;
	}
}
