body {
	padding-top:0px;
}
header {
	display:none;
}

#header {
	position:relative;
	.content {
		bottom:auto;
		top:50%;
	}
}
section .container {
	padding:0px 10px;
}
h2 {
	font-size:24px;
}
p {
	font-size:14px;
}

#header .content h2, #header #follow-us ul li a.social img h2, #follow-us ul li a.social #header img h2, #header .galery-list.grid.column-4 > * h2 {
	font-size:25px;
}

#header .content p, #header #follow-us ul li a.social img p, #follow-us ul li a.social #header img p, #header .galery-list.grid.column-4 > * p {
	font-size:15px;
}

.discovery .discovery-list.grid.column-4 > *, .discovery .discovery-list.grid.column-3 > * {
	width:100%;
}

.btn {
	font-size:12px;
}

#sustainability-sliders .column-35-65 * {
	width:100%;
}

.owl-nav {
	display:none;
}

#follow-us {
	padding-left:15px;

	p {
		font-size:15px !important;
	}
	ul {
		margin:10px auto;
		padding-left:0px;
		li {
			a {
				width:40px;
				height:40px;
				&.social {
					&.twitter {
						img {
							height:25px;
						}
					}
					&.fb{
						img {
							height:23px;
						}
					}
					&.tripadvisor {
						img {
							height:17px;
						}
					}
				}
			}
		}
	}
}


#rooms .room-list li, #rooms .book-now-list li {
	width:100%;
}

#rooms .book-filters {
	display:none;
}

.galery-list.grid.column-4 > * {
	width:50%;
}

#main-map {
	img {
		max-width:100%;
	}
}

.reserve-icons.grid.column-4 >* {
	padding:0px 0px !important;
}

#about-reserve {
	padding-bottom:0px;
}
#main-map {
	padding-bottom:25px;
}

#contact-form fieldset {
	text-align:left;
	padding:0px;
	width:auto;
	label {
		text-align:left;
		top:auto;
		position:relative;
		width:100%;
		margin:0px 0px 10px 0px;
	}
	input {
		margin:0px auto;
	}

}


#books .book-list > * {
	width:100%;
	text-align:center;
	img ,div {
		width:100%;
	}
	img {
		float:none;
		width:50%;
		margin:0px auto;
		display:block;
	}
	h3,p {
		text-align:center;
	}
}

#mobile-header {
	padding:5px;
	height:40px;
	position:fixed;
	top:0px;
	z-index:99995;
	width:100%;
	background:#75bf44;

	.mobile-menu {
		margin:0px auto;
		display:block;
		width:50%;
		max-width:80px;
		position:absolute;
		left:50%;
		top:5px;
		transform: translateX(-50%);
	}

	.openmenu {
		background:url('../../img/icons/mobileMenu.svg') no-repeat;
		display:block;
		background-size:contain;
		width:40px;
		height:40px;
	}
}

#slider:before {
  height: 0px !important;
}

#slider .check-in, #header .check-in {
	width:95%;
  top: 25px;
	right:2.5%;
  bottom: auto;
  p {
    font-size: 20px;
  }
	h2 {
		font-size:22px;
    br {
      display: none;
    }
	}
}

#slider .checkin-panels > div, #header .checkin-panels > div {
	width:100%;
	height:auto;
}


.grid.column-dual > fieldset {
	&:first-child {
		width:60%;
		+ fieldset {
			width:40%;
			+ fieldset {
				width:60%;
				+ fieldset {
					width:40%;
				}
			}
		}
	}
}

#slider .checkin-panels  {
	.btn {
		margin:5px auto 15px auto;
	}
}


#mobile-header {
  display: block;
}

body {
  margin-top: 50px;
}

#slider {
  position: relative;
}

#main-mobile-menu {
  display: none;
  width: 65%;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 99990;
  background: #75bf44;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.5s ease;

  > a {
    display: block;
    padding: 12px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;

    &.lang {
      font-weight: normal;
      border-top: 1px solid #ffffff;
    }
  }
}

body.mobile-menu-open {
  overflow: hidden;
}

body.mobile-menu-open #main-mobile-menu {
  display: block !important;
  opacity: 1;
}
