#mobile-header , #main-mobile-menu {
  display:none;
}

.container {
  @extend %sizing;
  padding:0px 25px;
}

body {
  padding-top:127px;
  overflow-x: hidden;
  font-family: "source_sans_proregular", sans-serif;
}
section {
  .container {
    padding:25px 0px;
  }
}

.btn {
  display:block;
  width:200px;
  margin:20px auto;
  color:#fff;
  font-size:20px;
  text-decoration:none;
  text-transform:uppercase;
  font-family: "source_sans_prosemibold", sans-serif;
  border:3px solid #fff;
  padding:10px 30px;
  @include br(5px);
  &.green {
    display:inline-block;
    font-weight:bold;
    width:auto;
    border:0px;
    letter-spacing: 1px;
    padding:12px 30px;
    background:#75bf44;
  }
  &.check {
    background:#004931;
    padding:10px 10px;
    border:0px;
    @include br(0px);
    font-size:18px;
    text-align:center;
  }
  &.greenborder {
    display:inline-block;
    font-weight:bold;
    width:auto;
    letter-spacing: 1px;
    padding:12px 30px;
    color:#75bf44;
    border-color:#75bf44;
  }
  &.bordergreen {
    position: relative;
    width:300px;
    text-align:left;
    border-color:#75bf44;
    color:#75bf44;
    padding-left: 60px;
    padding-right:0px;
    &:before {
      content: '';
      display: block;
      background: url("../../img/icons/download.svg") no-repeat;
      width: 40px;
      height: 42px;
      background-size: contain;
      position: absolute;
      left: 11px;
      top: 12px;
    }
  }
  &.black {
    color:#000;
    border-color:#000;
  }
  &.nonwidth {
    width:auto;
    display:inline-block;
  }
}


.icon {
  &.date {
    display:inline-block;
    width:20px;
    height:20px;
    margin-right:5px;
    margin-top:10px;
  }
}

#follow-us {
  display:inline-block;
  margin:50px auto;
  padding-left:25px;
  border-left:20px solid #75bf44;
  text-align:left;
  p {
    padding:0px;
    display:inline-block;
    font-size:18px !important;
    vertical-align:middle;
  }
  ul {
    padding-left:50px;
    display:inline-block;
    list-style-type:none;
    vertical-align:middle;
    li {
      margin:0px 5px;
      vertical-align:middle;
      display:inline-block;
      a {
        background:#75bf44;
        width:50px;
        height:50px;
        @include br(50%);
        display:block;
        &.social {
          position:relative;
          text-align:center;
          img {
            display:inline-block;
            vertical-align:middle;
            @extend .content;
            width: auto;
          }
          &.fb {
            img {
              height:28px;
            }
          }
          &.twitter {
            img {
              height:30px;
            }
          }
          &.tripadvisor {
            img {
              height:22px;
            }
          }
        }
      }
    }
  }
}

#header {
  display:block;
  width:100%;
  .content {
    top:auto;
    bottom:7.5%;
    z-index:99;

    h2, p {
      color:#fff;
      letter-spacing:1px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }
    p {
      font-family: "source_sans_proregular", sans-serif;
      font-size:31px;
    }
    h2 {
      font-family: "source_sans_prosemibold", sans-serif;
      font-weight: bold;
      font-size:45px;

    }
  }
}


.about-page #header {
  background:url('../../img/headers/aboutus.jpg') no-repeat center center;
  background-size:cover;
}

.activities-page #header {
  background:url('../../img/headers/activities.jpg') no-repeat center center;
  background-size:cover;
}

.galery-page #header {
  background:url('../../img/headers/galery-header.jpg') no-repeat center center;
  background-size:cover;
}

.books-page #header {
  background:url('../../img/headers/books.jpg') no-repeat center center;
  background-size:cover;
}
.rooms-page #header {
  background:url('../../img/headers/rooms-rates.jpg') no-repeat center center;
  background-size:cover;
}

.reserve-page #header {
  background:url('../../img/headers/reserve-header.jpg') no-repeat center center;
  background-size:cover;
}

.sustainability-page #header {
  background:url('../../img/headers/sustainability.jpg') no-repeat center center;
  background-size:cover;
}

.select-filter {
  position: relative;
  display: inline-block;

  select {
    appearance: none;
    background: #75bf44;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 8px 28px 8px 8px;
  }

  &:after {
    content: '\25BC';
    display: block;
    position: absolute;
    color: #ffffff;
    top: calc(50% + 1px);
    right: 8px;
    transform: translateY(-50%);
    font-size: 11px;
    pointer-events: none;
  }
}
