//Set Themes

	//Font & element Colors
		$yellow :#cd9d1a;


	//Font Sizes
		$bigtitle:11em;


	//Alignament & Custom Styles
		$left:left;
		$center:center;
		$italic: italic;

		$normal:normal;
		$capitalize:capitalize;
		$upper: uppercase;

	//Cursors
		$hand:pointer;
		$default:default;

		$arial: arial,helvetica,sans-serif;
	//Stylish Variables
		%fixHeight {
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}

	//Grid Default Stylish
		.grid {
			@extend %fixHeight;
		}
		%sizing {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		%inline {
			&:after {
				@extend %fixHeight;
			}
			vertical-align: top;
			display: inline-block;
			float:left;
			@extend %sizing;
			text-align: $left;
		}
		.content {
			@include valign(absolute);
			text-align:center;
		}

		%accelerate {
			/*Accelerate for video card in css*/
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);

		   -webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
		   -ms-backface-visibility: hidden;
		   backface-visibility: hidden;

		   -webkit-perspective: 1000;
		   -moz-perspective: 1000;
		   -ms-perspective: 1000;
		   perspective: 1000;
		   /* Other transform properties here */
		}

		%shaddow {
		    -webkit-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.16);
		    -moz-box-shadow:0px 0px 10px 1px rgba(0,0,0,0.16);
		    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.16);
		}

		%rotate {
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
		}

		h2 {
			font-family: "source_sans_prosemibold", sans-serif;
			font-weight: normal;
			font-size:30px;
		}
		p {
			font-family: "source_sans_proregular", sans-serif;
			font-size:18px;
			padding:10px 0px;
		}
