header {
	top:0px;
	z-index:99999;
	position:fixed;
	width:100%;
	@include effect(all,0.5s,ease);
	display:block;
	background:#75bf44;
	padding:0em 0px 0em 0px;
	font-size:1.5em;
	box-shadow: 0 0 20px rgba(0,0,0,.5);

	.admin-bar & {
		top: 32px;
	}

	.container {
		@extend %fixHeight;
	}

	.subheader {
		background:#004931;
		padding:0.5em 0px;
		margin-bottom:20px;
		@extend %fixHeight;

		#weather {
			float:left;
			color:#fff;
			em {
				font-family: "source_sans_prosemibold", sans-serif;
				font-weight: normal;
				margin-top:-15px;
				display:inline-block;
				font-style:normal;
				font-size:15px;
				vertical-align:middle;
				&:before {
					content: '';
				    display: inline-block;
				    width: 30px;
				    height: 30px;
				    position: relative;
				    top: 9px;
				    margin-right: 10px;
				}
			}
			&.clear-day {
				em:before {
					background:url('../../img/weather/despejado.svg') no-repeat;
					background-size:contain;
				}
			}
			&.cloudy {
				em:before {
					background:url('../../img/weather/muynublado.svg') no-repeat;
					background-size:contain;
				}
			}
			&.rain {
				em:before {
					background:url('../../img/weather/lluvioso.svg') no-repeat;
					background-size:contain;
				}
			}
      &.wind {
        em:before {
          background:url('../../img/weather/ventoso.svg') no-repeat;
          background-size:contain;
        }
      }
      &.fog {
        em:before {
          background:url('../../img/weather/neblina.svg') no-repeat;
          background-size:contain;
        }
      }
      &.snow {
        em:before {
          background:url('../../img/weather/nieve.svg') no-repeat;
          background-size:contain;
        }
      }
      &.partly-cloudy-night {
        em:before {
          background:url('../../img/weather/noche-nublada.svg') no-repeat;
          background-size:contain;
        }
      }
      &.partly-cloudy-day {
        em:before {
          background:url('../../img/weather/pacialnublado.svg') no-repeat;
          background-size:contain;
        }
      }
      &.clear-night {
        em:before {
          background:url('../../img/weather/noche.svg') no-repeat;
          background-size:contain;
        }
      }
      &.clear-night {
        em:before {
          background:url('../../img/weather/noche.svg') no-repeat;
          background-size:contain;
        }
      }
      &.sleet {
        em:before {
          background:url('../../img/weather/granizo.svg') no-repeat;
          background-size:contain;
        }
      }
		}

		ul {
			float:right;
			li {
				margin:0px 0px;
				a {
					margin:2px 2px;
					padding:5px 4px;
					font-family: "source_sans_proregular", sans-serif;
					font-size:12px;
					border:1px solid transparent;
				}
				&:last-of-type{
					a {
						border:1px solid #fff;
					}
				}
			}
		}
	}
	ul {
		list-style-type:none;
		li {
		    margin-top: 5px;
			vertical-align:text-top;
			display:inline-block;
			&.logo {
				margin-top: -65px;
			}
			a {
				font-family: "source_sans_proregular", sans-serif;
				display:block;
				margin:0px 10px;
				font-size:21px;
				text-transform:$upper;
				text-decoration:none;
				color:#fff;
				border-bottom:3px solid transparent;
				&.current-page {
					border-color:#fff;
				}
			}
		}
	}

}
