/* Hovers actived only on mobile devices*/


body:not(.mobile) {

  header nav ul li:not(.logo) a {
    &:after {
      @include effect(all,0.5s,ease);
      content:'';
      width:0px;
      height:3px;
      display:block;
      position:relative;
      margin:2px auto -3px auto;
      display:block;
      background:#004931;
    }
    &:hover, &.active--link {
      &:after {
        width:100%;
      }
    }
  }
  header {
    .subheader {
      ul {
        li {
          a {
            background:rgba(255,255,255,0);
            @include effect(all,0.5s,ease);
            &:hover, &.active--link {
              background:#75bf44;
              color:#fff;
            }
          }
        }
      }
    }
  }


  .btn {
    @include effect(all,0.5s,ease);
    &:hover {
      &:hover {
        background:#004931;
        color:#75bf44 ;
        border-color:#75bf44;
      }
    }

    &.bordergreen {
      &:hover {
        background:#004931;
        color:#75bf44 !important;
      }
    }

    &.greenborder  {
      &:hover {
        background:#004931;
        color:#75bf44 !important;
      }
    }
  }



  #follow-us {
    ul {
      li {
        a {
          @include effect(all,0.5s,ease);
          &:hover {
            background:#004931;
          }
        }
      }
    }
  }
}
