section#welcome {
  padding:50px 0px;
  h2 {
    margin-bottom:25px;
  }
  .qualifications {
    padding:50px;
    display:inline-block;
    width:auto;
  }
}


section#room-detail{
  position:relative;
   &:before {
    content:'';
    width:100%;
    left:0px;
    top:0px;
    height:100%;
    position:absolute;
    background:rgba(0,0,0,0.50);
   }
  .container {
    z-index:1;
    height:100%;
  }
  height:500px;
  background:url('../../img/headers/home-room.jpg') no-repeat;
  background-size:cover;
  p {
    letter-spacing:1px;
    color:#fff;
    font-size:25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  }
}

section#advirsor-comments {
  padding:50px 0px;
  .owl-advirsor {
    width:75%;
    margin:0px auto;
  }
  p {
    font-size:30px;
    &.by {
      font-size:18px;
    }
  }

}


#our-team {
  img {
    max-width:128px;
    margin:0px auto;
  }
  .item{
    p {
      &:not(.by){
        display:block;
        font-size:15px;
        text-align: left;
        max-width:75%;
        margin:0px auto;
      }
    }
  }
  margin-bottom:50px;
}

#about-monteverde {
  .borderline {
    margin:30px 0px;
    padding:25px 0px;
    border-top:1px solid #75bf44;
    border-bottom:1px solid #75bf44;
    div {
      text-align:left;
      strong {
        font-family: "source_sans_prosemibold", sans-serif;
      	font-weight: normal;
        text-align:left;
        display:inline-block;
        vertical-align:text-top;
        width:225px;
        margin:2px 0px;
        font-weight:bold;
      }
      p {
        vertical-align:text-top;
        display:inline-block;
        text-align:left;
        margin:2px 0px;
        padding:0px;
      }
    }

  }
  h3 {
    font-size:25px;
    font-family: "source_sans_prosemibold", sans-serif;
  	font-weight: normal;
  }
}



.discovery{

  .container {
    ul {
      list-style: none;

      > li {
        margin: 0.5em 0;
        > a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .bordergreen {
    width:auto;
    display:inline-block;
    padding:15px 10px 15px 45px;
    &:before {
      height:30px;
    }
  }
  padding:25px 0px;
  h2 {
    margin:20px 0px 0px 0px;
  }
  .discovery-list {
    margin:50px 0px;
    &.grid.column-4 > *, &.grid.column-3 > *, &.grid.column-2 > * {
      padding:0px;
    }
    a {
      position:relative;
      max-height: 50vh;
      overflow: hidden;
      &:before {
        content:'';
        background:rgba(117,191,68,0.5);
        display:block;
        position:absolute;
        z-index:1;
        width:100%;
        height:100%;
        left:0px;
        top:0px;
        @include effect(all,0.5s,ease);
      }
      &:hover, &.active {
        &:before {
          background:rgba(117,191,68,0);
        }
      }
      &.active:before {
        box-shadow: inset 0px 0px 16px 4px transparentize(#004931, 0.33);
      }
    }
    img {
      display:block;
      width:100%;
      height:auto;
    }
    p {
      position:absolute;
      bottom:10px;
      text-align:left;
      left:25px;
      z-index:2;
      color:#fff;
      font-size:22px;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
      font-weight:bold;
    }
  }
}



#galery {
  padding:25px 0px;
}


#books {
  padding:20px 0px;

  .book-list{
    padding:50px 0px;
    text-align:left;
    > * {
      margin:20px 0px;
      width: 49%;
      text-align:left;
      float: none;
      > * {
        &:first-child {
          + * {
            padding-top:25px;
          }
        }
        > * {
          text-align:left;
        }
      }
      h3 {
        color:#000;
        font-family: "source_sans_prosemibold", sans-serif;
        font-weight:bold;
        font-size:30px;

        a{
          color: inherit;
          text-decoration: none;
        }
      }
      p {
        font-size:17px;

        a.dl {
          display: inline-block;
          color: #ffffff;
          background: #75bf44;
          text-decoration: none;
          padding: 0.35em 0.5em;
          font-size: 0.75em;
          border-radius: 4px;
          text-transform: uppercase;

          &:hover, &:active {
            background: #004931;
          }
        }
      }
    }
  }
}



#rooms {
  .book-filters {
    margin-top:50px;
    list-style-type:none;
    display:inline-block;
    li {
      margin:0px -2px;
      display:inline-block;
      a {
        color:#000;
        display:inline-block;
        text-align:center;
        position:relative;
        text-decoration:none;
        font-family: "source_sans_prosemibold", sans-serif;
        font-weight:bold;
        text-transform:uppercase;
        padding:5px 20px;
        em {
          width:12px;
          height:12px;
          border:3px solid #000;
          background:#fff;
          @include br(50%);
          position:absolute;
          bottom:-17px;
          left:50%;
          margin-left:-10px;
          z-index:2;

        }
        &:before {
          position:absolute;
          bottom:-10px;
          width:50%;
          left:0px;
          content:'';
          height:3px;
          background:#7f7f7f;
          display:block;
        }
        &:after {
          position:absolute;
          bottom:-10px;
          width:50%;
          right:0px;
          content:'';
          height:3px;
          background:#7f7f7f;
          display:block;
        }
      }
      &:first-child {
        a {
          &:before {
            display:none;
          }
        }
      }
      &:last-of-type{
        a {
          &:after {
            display:none;
          }
        }
      }
      &.active {
        a {
          em {
            border-color:#75bf44;
            &:before {
              position:absolute;
              left:0px;
              top:-8px;
              color:#75bf44;
              font-size:24px;
              content:'\2022';
            }
          }
        }
      }
    }
  }
  padding:50px 0px;
  h2 {
    margin-bottom:25px;
  }
  .room-list {
    li {
      @include opacity(1);
      @include effect(opacity,0.5s,ease);
      &.unselected {
        @include opacity(0.5);
      }

      a[data-lightbox] {
        text-decoration: none;
      }
    }
  }
  .room-list, .book-now-list  {
    width:90%;
    margin:50px auto 0px auto;
    list-style-type:none;
    li {
      text-align:center;
      p {
        font-size:17px;
      }
    }
  }
  .book-now-list  {
    margin:0px auto;
  }
}



#about-reserve {
  padding:50px 0px;
  h2 {
    margin-bottom:20px;
  }
  .reserve-icons {
    margin:50px 0px;
    width:auto;
    display:inline-block;
    img {
      max-width:100%;
    }
  }
}


#contact-form {
  margin:0 0px 0px 0px;
  fieldset {
    width:500px;
    position:relative;
    padding-left:150px;
    margin:20px auto;
    @extend %sizing;
      input, textarea {
        width:100%;
        display:inline-block;
        background:#fff;
        border:2px solid #ccc;
        padding:10px;
        font-size:15px;
        @include br(3px);
        resize:none;
        @extend %sizing;
        &.error {
          border-color: #E90000;
        }
      }
      textarea{
        min-height:100px;
      }
      label {
        top:10px;
        text-align:right;
        font-family: "source_sans_prosemibold", sans-serif;
        font-size:16px;
        font-weight:bold;
        position:absolute;
        left:0px;
        width:120px;
        display:inline-block;
      }

    }
}



#sustainability-sliders {
  .column-35-65 {
    padding:0px 25px;
    * {
      text-align:left;
    }
    img {
      max-width:200px;
      margin:0px auto;
    }
    > div {
      &:first-child {
        + * {
          padding-top:20px;
        }
      }
    }
  }
}


.map-page {
  #header {
    &:before {
      display:none;
    }
  }
}



.fromlist {
  display:inline-block;
  list-style-type:none;
  li {
    display:inline-block;
    color:#000;
    .btn {
      &:not(.greenborder){
          letter-spacing: 0px;
          padding: 12px 30px;
        width:auto;
        margin:10px;
        white-space: nowrap;
        font-size:16px;
        border-color:#000;
        color:#000;
        font-family: "source_sans_prosemibold", sans-serif;
      	font-weight: normal;
      }
      &.greenborder {
        letter-spacing: 0px;
        font-weight:normal;
        font-size:16px;
        margin:10px;
      }
    }
  }
}

.come-alone{
  margin:50px 0px;
  p {
    font-size:25px;
    padding:10px 0px;
  }
  a {
    text-decoration:none;
    font-size:25px;
    color:#75BF44;
    font-family: "source_sans_proregular", sans-serif;
    margin-top:20px;
  }
}


.discovery-item {
  display:none;
  &.active {
    display:block;
  }
}
