/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}



#slider, #header {
   &:before {
    content:'';
    width:100%;
    left:0px;
    top:0px;
    height:100%;
    position:absolute;
    background:rgba(0,0,0,0.35);
    z-index:98;
   }
  .item {
    background-size:cover !important;
    background-position: left bottom !important;
  }

  #check-availability{
    p {
      font-size:16px;
    }
  }
  .checkin-panels  {
    .centered {
      text-align: center;
    }
    
    > div {
      height:150px;
      text-align:left;
      background:#75bf44;
      p {
        font-size:22px;
        padding:10px 5px;
        text-shadow:none;
        color:#fff;
      }
      &:first-child {
        padding:16px 15px;
        background:#fff;
        p {
          color:#000;
          padding:5px 0px;
          text-align:left;
        }
        fieldset {
          padding:0px 5px;
          text-align:left;
          input, select {
            cursor:pointer;
          }
        }
      }
    }
  }
  .check-in {
    text-align:right;
    position:absolute;
    right:5%;
    width:60%;
    bottom:100px;
    z-index:99;
    fieldset {
      height:50px;
      margin-bottom:10px;
    }
    p,h2 {
      color:#fff;
      letter-spacing:1px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    }
    p {
      font-family: "source_sans_proregular", sans-serif;
      font-size:35px;
    }
    h2 {
      font-family: "source_sans_prosemibold", sans-serif;
      font-weight:bold;
      font-size:38px;
      text-transform:uppercase;

    }
    img {
      margin-top:0px;
      display:inline-block;
    }

    #check-availability {
      input {
        width: calc(100% - 60px);
        position:relative;
        top:-3px;

        &.error {
          background: rgba(255, 0, 0, 0.1);
          color: #c00000;
          border: 1px solid #c00000;
        }
      }
    }
    .doSelect {
      cursor:pointer;
      position:relative;
      border:1px solid #75bf44;
      padding:2px;

      &.error {
        border-color: #c00000;
        background: rgba(255, 0, 0, 0.1);
      }

      ul {
        border:1px solid #004931;
        width:100%;
        left:0px;
        padding:5px;
        @include bs();
        list-style-type:none;
        background:#004931;
        color:#fff;
        position:absolute;
        display:none;
        li {
          cursor:pointer;
        }
      }
      strong,span,cite {
        width:100%;
        display:block;
      }
      cite {
        text-align:right;
        padding-right:15px;
        @include bs();
        font-family: "source_sans_proregular", sans-serif;
        font-style:normal;
        &:after {
          position:absolute;
          top:7px;
          right:5px;
          content:'';
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;

          border-top: 5px solid #75bf44;
        }
      }
    }
  }
}









/* Previus Next Button */


.owl-controls {
width: 100%;
position: absolute;
top: 50%;
-webkit-transform: translate(0%, -40%);
-ms-transform: translate(0%, -40%);
transform: translate(0%, -40%);
text-align: center;
  .owl-prev, .owl-next {
    position:absolute;
    text-indent:-9999px;
      display: block;
      width: 26px;
      height: 38px;
    top:0px;
  }
  .owl-prev {
    left:-25px;
    background:url('../../img/icons/arrow-left.svg') no-repeat;
  }
  .owl-next {
    right:-25px;
    background:url('../../img/icons/arrow-right.svg') no-repeat;
  }
}


#our-team {
  .item {
    img {
      width:124px;
      height:124px;
      @include br(50%);

    }
  }
}
