.container {

	position:relative;
	max-width:1200px;
	padding:0px 1em;
	margin:0px auto;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


