@mixin typo($t,$name) {
	@font-face {
		font-family: $name;
		src: url('../../css/fonts/#{$t}.eot');
		src: url('../../css/fonts/#{$t}.eot?#iefix') format('embedded-opentype'),
		url('../../css/fonts/#{$t}.woff') format('woff'),
		url('../../css/fonts/#{$t}.ttf') format('truetype'),
		url('../../css/fonts/#{$t}.svg##{$name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@include typo('source_sans_prosemibold','sourcesanspro-semibold-webfont');
@include typo('source_sans_proregular','sourcesanspro-regular-webfont');
