/*Background Gradient Color*/

@mixin bbg($d1, $d2, $color1, $color2){
	background-image: -moz-linear-gradient($d1, $color1 0%, $color2 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, $d1 $d1, $d1 $d2, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient($d1, $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient($d1, $color1 0%,$color2 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient($d1, $color1 0%,$color2 100%); /* IE10+ */
	background-image: linear-gradient(to $d2, $color1 0%,$color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{$color1}, endColorstr=#{$color2},GradientType=0 ); /* IE6-9 */
}

/*Set Opacity*/
@mixin opacity($opacity) {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
	filter: alpha(opacity=$opacity);
	-moz-opacity:$opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
}
/* Border Radius*/

@mixin br($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

@mixin valign($position) {

    left: 50%;
    width: 90%;
	position: $position;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/* Animate */
@mixin effect($object,$time,$effect) {
  @if $effect == "" { $effect : linear }
  -webkit-transition: $object $time $effect;
  -moz-transition: $object $time $effect;
  -o-transition: $object $time $effect;
  transition: $object $time $effect;
}

@mixin placeholder($color) {
	::-webkit-input-placeholder {
	   color:$color;
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color:$color;
	}
	:-ms-input-placeholder {  
	   color:$color;
	}
}



@mixin bs() {
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
