
//Set Global Structure & Grids
	.grid {
		width:100%;
		@extend %sizing;

		@for $i from 1 through 6 {
			&.column-#{$i}{
				> * {
					padding:0px 1.5em;
					width: 100% / $i;
					@extend %inline;
					text-align:$center;
				}
			}
		}
		
		&.column-custom-35-65{
			> * {
				padding:0px 1.5%;
				width:65%;
				@extend %inline;
				text-align:$center;
				&:first-child {
					width:35%;
				}
			}
		}
		&.column-60-40{
			> * {
				@include bs();
				padding:0px 1.5%;
				width:40%;
				@extend %inline;
				text-align:$center;
				&:first-child {
					width:60%;
				}
			}
		}
		&.column-35-65{
			> * {
				@include bs();
				padding:0px 1.5%;
				width:65%;
				@extend %inline;
				text-align:$center;
				&:first-child {
					width:35%;
				}
			}
		}
		&.column-dual{
			> fieldset {
				padding:0px 1.5%;
				width:45%;
				@extend %inline;
				text-align:$center;
				@include bs();
			}
		}
	}
